build/
build-appimage/
build-windows/
*.AppImage
*.o
*.a
*.so
*.dll
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile
*.ninja
.ninja_deps
.ninja_log
sfogliaccio_autogen/
.qt/
qrc_resources.cpp
*.o.d
