[Desktop Entry]
Version=1.0
Type=Application
Name=SFOGLI-ACCIO
GenericName=Lettore PDF
Comment=Lettore PDF veloce, moderno e gratuito
Exec=sfogliaccio %f
Icon=sfogliaccio
Terminal=false
MimeType=application/pdf;
Categories=Office;Viewer;Graphics;
Keywords=pdf;viewer;documento;
StartupNotify=true
StartupWMClass=sfogliaccio
